{{#partial "content"}}
  <h1>The venue could not be deleted because it has events associated with it!</h1>
<table class="table table-striped table-hover">
<tbody>
  <tr>
    <th>
      <a class="btn btn-primary" role="button" href="/events">Back to events list</a>
    </th>
    <th>
    <a class="btn btn-primary" role="button" href="/venues">Back to venues list</a>
    </th>
  </tr>
  </tbody>
</table>

{{/partial}}

{{> layouts/base title="Venue Information"}}