{{#partial "content"}}

<h1>This venue cannot be deleted because there are events associated with it!</h1>

 <a class="btn btn-primary" role="button" href="/venues">Back</a> 

{{/partial}}

{{> layouts/base title="Detailed Information"}}