{{#partial "content"}}
  <h1>Add a new Venue</h1>

  {{#if errors}}
    <p class="h2 text-danger">There were errors in the submitted event!</p>
  {{/if}}

  <form action="/venues/new" method="post">
        <div class="form-group {{#if errors.template}}has-error{{/if}}">
      
      <label for="name">Venue Name</label>
      <input class="form-control" type="text" name="venuename" id="name" placeholder="Venue Name" maxlength="255" autofocus required/>
      
      <label for="address">Venue Address</label>
      <input class="form-control" type="text" name="venueaddress" id="address" placeholder="Address" maxlength="299" autofocus required/>
      
      <label for="capacity">Venue Capacity</label>
      <input class="form-control" type="number" name="venuecapacity" id="capacity" placeholder="Venue Capacity" min="1" autofocus required/>
      
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
    <a class="btn btn-danger" role="button" href="/venues">Cancel</a>
  </form>
{{/partial}}

{{> layouts/base title="New Venue"}}