<html>
	<head>
		<title>Hello Twitter</title>
	</head>
	<body>
		<h3>Connected to Twitter</h3>

		<p>
			You are now connected to your Twitter account.
			Click <form action="/events/twitter" method="get"><button type="submit" class="btn btn-default">Tweet</button></form> to see your Twitter friends.
		</p>
	</body>
</html>