{{#partial "content"}}
<style>

body {
  background: url("https://static.pexels.com/photos/235994/pexels-photo-235994.jpeg") ;

  background-size:1300px 700px;
}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}
.center {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}
</style>
<form action="/index" method="get" >
<body>

<div class="background">
 <div class="container">
     <h1>Make Simple</h1>
  <div class="center">
  <div class="transbox">
    <p><br>Welcome to Make Simple.</br>
       <br>This web is trying to help you process text and get you understand it quickly.</br>
       <br>Choose either <a href="/events">Page Link</a> or <a href="/venues">PLAINTEXT</a> to start.</br></p>
  </div>
  </div>
 <div class="bottomleft"> 
<h2> Expecting for your feedback </h2>


<p>Do this make information more understandable?</p>

<p>Do you think it is easy to use?</p>

<p>What functions do you expect to have in this app?</p>

</form>

   {{#if tweets}}
     <div class="alert alert-success">
     Your tweet: <strong>{{tweets}}</strong> was posted!
     </div>
   {{/if}}
  
  <form action="/events/twitter" method="get" >
	<div class="input-group">
	 <input type="hidden" class="form-control" name="eventId" placeholder="{{id}}" value="{{id}}"/>
	  <input type="text" class="form-control" name="tweet" placeholder="Tweet about what you think ... "/>
	  <div class="input-group-btn">
	  <button type="submit" class="btn btn-default"><i class="fa fa-twitter" aria-hidden="true"></i></button>
	  </div>
	  </div>
  </form>
</div>
  </div>
  </div>
{{/partial}}
{{> layouts/base title="Homepage"}}