{{#partial "content"}}
<form action="/index" method="get" >
<body background="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/DBpediaLogo.svg/1200px-DBpediaLogo.svg.png">
  <div class="container">
    <h1>Make Simple</h1>
    <p>Welcome to Make Simple. Choose either <a href="/events">TEXT</a> or <a href="/venues">URI</a> for more information.</p>

  
<h2> Expecting for your feedback </h2>


<p>Did this make you more understand information?</p>

<p>Do you think it is easy to use?</p>

<p>What functions do you expect to have from this app?</p>

  </div>




</form>

   {{#if tweets}}
     <div class="alert alert-success">
     Your tweet: <strong>{{tweets}}</strong> was posted!
     </div>
   {{/if}}
  
  <form action="/events/twitter" method="get" >
	<div class="input-group">
	 <input type="hidden" class="form-control" name="eventId" placeholder="{{id}}" value="{{id}}"/>
	  <input type="text" class="form-control" name="tweet" placeholder="Tweet about what you think ... "/>
	  <div class="input-group-btn">
	  <button type="submit" class="btn btn-default"><i class="fa fa-twitter" aria-hidden="true"></i></button>
	  </div>
	  </div>
  </form>

{{/partial}}
{{> layouts/base title="Homepage"}}